[Unit]
Description=WPA Supplicant
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/wpa_supplicant -B -i wlan0 -c /etc/wpa_supplicant.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

