[Unit]
Description=WPA Supplicant
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/wpa_supplicant -i wlan0 -c /etc/wpa_supplicant.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target

